body {
  margin: auto;
  background-color: #310;
  color: yellow;
}

#top-bar {
	font-family: fantasy;
	margin-bottom: 15px;
	font-weight: bold;
	letter-spacing: 13px;
}

#allBurgers {
	margin-top: 50pt;
	float: left;
}

h1 {
	font-size: 81px;
}

#newBurgers {
	border-style: double;
	border: black;
	text-align: center;
	float: left;
	margin-top: 20pt;
	margin-bottom: 15pt;
}

#ateBurgers {
	float: right;
	margin-bottom: 15pt;
}

#moreBurgers {
	margin: auto;
}

pre {
	color: yellow;
}
